:root {
  --gradient: linear-gradient(
    90deg,
    rgba(195, 73, 65, 1) 6%,
    rgba(154, 130, 14, 1) 20%,
    rgba(100, 152, 16, 1) 39%,
    rgba(27, 138, 129, 1) 58%,
    rgba(34, 92, 191, 1) 76%,
    rgba(106, 27, 167, 1) 92%
  );
}

body {
  background-image: var(--gradient);
  background-attachment: fixed;
  background-size: 500%;
  animation: bg-animation 20s infinite alternate;
  width: 100%;
  min-height: 100%;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

header h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 30px;
}

form {
  margin-top: 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
  padding-bottom: 50px;
}

.list-container {
  margin-top: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.container {
  background-color: whitesmoke;
  margin-top: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
  padding: 30px;
  opacity: 0.8;
}

.main-container {
  background-color: whitesmoke;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  border-radius: 40px;
  padding-bottom: 40px;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.btn-container {
  height: 45px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.btn-main {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-add {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.delete {
  border: none;
}

.delete button {
  margin-left: 100px;
  margin-top: -55px;
}

.btn-warning {
  margin-top: 2px;
  height: 40px;
}
